@import "tailwindcss";

@theme inline {
  /* 🎨 Кольори */
  --color-black06: #060606;
  --сolor-black05: #050505;
  --color-black03: #030303;
  --сolor-black0A: #0a0a0a;
  --color-grey22: #222222;
  --color-whitef0: #f0f0f0;
  --color-whiteff: #ffffff;
  --color-grey88: #888888;
  --color-grey33: #333333;

  /* 📱 Breakpoints */
  --breakpoint-tab: 768px;
  --breakpoint-prepc: 1260px;
  --breakpoint-pc: 1440px;

  /* 🪞 Тіні */
  --shadow-button: 4px 4px 0 0 var(--color-black);
  --shadow-button-ivory: 4px 4px 0 0 var(--color-ivory);
}

body {
  background-color: var(--color-black03);
  color: var(--color-grey88);
}
button,
a {
  cursor: pointer;
}
