@import "tailwindcss";

@theme inline {
  /* 🎨 Кольори */
  --color-black06: #060606;
  --color-black05: #050505;
  --color-black03: #030303;
  --color-black0a: #0a0a0a;
  --color-grey22: #222222;
  --color-whitef0: #f0f0f0;
  --color-whiteff: #ffffff;
  --color-grey88: #888888;
  --color-grey33: #333333;

  /* 📱 Breakpoints */
  --breakpoint-tab: 768px;
  --breakpoint-prepc: 1260px;
  --breakpoint-pc: 1440px;

  /* 🪞 Тіні */
  --shadow-button: 4px 4px 0 0 var(--color-black);
  --shadow-button-ivory: 4px 4px 0 0 var(--color-ivory);
}

body {
  background-color: var(--color-black03);
  color: var(--color-grey88);
  font-size: 14px;
}

button,
a {
  cursor: pointer;
}

.mask-btn {
  cursor: pointer;

  -webkit-mask: url("/natureSmaller.png");
  mask: url("/natureSmaller.png");

  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;

  animation: mask-reset 0.7s steps(70) forwards;
}

.mask-btn:hover {
  animation: mask-play 0.7s steps(70) forwards;
}

/* variants */
.mask-dark {
  background: #050505;
}

.mask-light {
  background: #ffffff;
}

.mask-btn:hover {
  animation: mask-play 0.7s steps(70) forwards;
}

/* forward */
@keyframes mask-play {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

/* reverse */
@keyframes mask-reset {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
.glow-btn {
  position: relative;
  cursor: pointer;
  border-radius: 9999px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* variants */
.glow-dark {
  color: #f0f0f0;
  background: #050505;
  border: 1px solid #f0f0f0;
}

.glow-light {
  color: #050505;
  background: #ffffff;
  border: none;
}

/* glow */
.glow-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;

  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );

  background-size: 400%;
  filter: blur(5px);
  z-index: -2;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: glowing 20s linear infinite;
}

.glow-btn:hover::before {
  opacity: 1;
}
.glow-btn:active:after {
  background: transparent;
}

/* inner background */
.glow-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: -1;
}

.glow-dark::after {
  background: #050505;
}

.glow-light::after {
  background: #ffffff;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@layer components {
  .casual-container {
    @apply tab:max-w-full tab:px-8 pc:max-w-360 pc:px-20 mx-auto w-full max-w-130 px-4;
  }

  .nopadding-container {
    @apply tab:max-w-full pc:max-w-360 mx-auto w-full max-w-130;
  }
}
