@import "tailwindcss";

@theme inline {
  /* 🎨 Кольори */
  --color-black06: #060606;
  --color-black05: #050505;
  --color-black03: #030303;
  --сolor-black0A: #0a0a0a;
  --color-grey22: #222222;
  --color-whitef0: #f0f0f0;
  --color-whiteff: #ffffff;
  --color-grey88: #888888;
  --color-grey33: #333333;

  /* 📱 Breakpoints */
  --breakpoint-tab: 768px;
  --breakpoint-prepc: 1260px;
  --breakpoint-pc: 1440px;

  /* 🪞 Тіні */
  --shadow-button: 4px 4px 0 0 var(--color-black);
  --shadow-button-ivory: 4px 4px 0 0 var(--color-ivory);
}

body {
  background-color: var(--color-black03);
  color: var(--color-grey88);
  font-size: 14px;
}
button,
a {
  cursor: pointer;
}

.mask-btn {
  background: #050505;
  cursor: pointer;

  -webkit-mask: url("/natureSmaller.png");
  mask: url("/natureSmaller.png");

  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;

  animation: mask-reset 0.7s steps(70) forwards;
}

.mask-btn:hover {
  animation: mask-play 0.7s steps(70) forwards;
}

/* forward */
@keyframes mask-play {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

/* reverse */
@keyframes mask-reset {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #f0f0f0;
  background: #050505;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #050505;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
